@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animate background */
/* src/index.css */
@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 5s ease infinite;
}

/* body {
  font-size: 16px;
} */

/* Theme CSS */
/* Default body styling */
body {
  margin: 0;
  font-size: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Front End Light Theme */
body.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
body.dark {
  background-color: #121212;
  color: #f0f0f0;
}

/*-------------------------
Admin panel light theme
---------------------------*/
.admin-dark .rdt_Table {
  background-color: #121212 !important;
  width: 100%;
}

.admin-dark .rdt_TableHeadRow {
  background-color: #1c2533 !important;
  font-weight: 1000 !important;
  color: #ffffff;
}

.admin-dark .rdt_TableBody {
  background-color: #1e293b;
  width: 100%;
  color: #e5e7eb;
}

.admin-dark .rdt_TableRow {
  background-color: #1e293b !important;
  color: #e5e7eb;
}
.admin-dark .rdt_TableCell div {
  background-color: transparent !important;
  color: inherit !important;
}
.admin-dark .rdt_TableRow:nth-child(even) {
  background-color: #111827;
}

.admin-dark .rdt_TableRow:hover {
  background-color: #111827 !important;
  color: #e5e7eb;
  border: #111827 1px solid !important;
}

.admin-dark .rdt_Pagination {
  background-color: #1c2533 !important;/* #111827 */
  padding: 0rem 0rem !important;
  color: #e5e7eb;
}
.admin-dark .rdt_Pagination button {
  color: #e5e7eb !important;
  background-color: transparent;
}

/* active buttons */
.admin-dark .rdt_Pagination button:not(:disabled) {
  color: #e5e7eb !important;
  opacity: 1;
}

/* disabled buttons (inactive state) */
.admin-dark .rdt_Pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* SVG inside buttons */
.admin-dark .rdt_Pagination svg {
  fill: currentColor !important;
}

.swal2-confirm {
  background-color: green;
}
.swal2-cancel {
  background-color: #81c212;
}

/* Swal Dark Mode To Assign Roles */
.admin-dark .admin-swal {
  background-color: #1e293b !important;
  color: #e5e7eb !important;
}

.admin-dark .admin-swal .swal2-select {
  background-color: #0f172a;
  color: #e5e7eb;
  border: 1px solid #445267;
}

.admin-dark .admin-swal .swal2-confirm {
  background-color: #10b981 !important;
}

.admin-dark .admin-swal .swal2-cancel {
  background-color: #ef4444 !important;
}

/* CKEditor */
.ck-editor__editable_inline {
  min-height: 175px; /* or any height you want */
}

/* Responsive breakpoints and devices to be targeted */

/* Extra small devices (phones, 320px and up) */
@media only screen and (max-width: 320px) {
  /* Styles for very small phones */
}

/* Small devices (phones, 375px and up) */
@media only screen and (max-width: 375px) {
  /* Styles for regular mobile phones */
}

/* Medium devices (phones, 425px and up) */
@media only screen and (max-width: 425px) {
  /* Styles for larger phones */
}

/* Tablets (768px and up) */
@media only screen and (max-width: 768px) {
  /* Styles for tablets */
}

/* Small laptops (1024px and up) */
@media only screen and (max-width: 1024px) {
  /* Styles for small laptops */
}

/* Large laptops (1366px and up) */
@media only screen and (max-width: 1366px) {
  /* Styles for large laptops */
}

@media only screen and (max-width: 375px) {
  body {
    font-size: 16px;
  }
}

body,
p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", "Helvetica", sans-serif;
}
